    .carousel-item.active, .carousel-item .view {
      height: 50vh!important;
    }

    .carousel-item img {
      object-fit: fill;
      width:100%!important;
      height: 100% !important;
    }

    .content h1 {
      font-size: 55px;
    }

    @media screen and (max-width: 320px) {
      .content h1 {
        font-size: 30px;
      }
    }

    @media screen and (min-width: 321px) and (max-width: 768px) {
      .content h1 {
        font-size: 30px;
      }

      
    }

    .content h5 {
      font-size: 23px;
      margin-left: 80px;
      margin-right: 80px;
    }

    @media screen and (max-width: 320px) {
      .content h5 {
        font-size: 18px;
        margin-left: 20px;
        margin-right: 20px
      }

    }

    @media screen and (min-width: 321px) and (max-width: 768px) {
      .content h5 {
        font-size: 18px;
        margin-left: 20px;
        margin-right: 20px;
      }
    }